/*rem is 16 px */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Kumbh Sans", sans-serif;
}

.navbar {
    background: #131313;
    height: 80px;
    display: flex; /*brings into a row*/
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999; /*in terms of 3D, ensures the navbar is constantly above all other parts with lower z-index*/
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 20 auto;
    padding: 0 50px;
}

#navbar__logo {
    background-color: #13b1f4;
    background-image: linear-gradient(to top, #b721ff 0%, #21d4fd 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 32px;
}

.fa-gem {
    margin-right: 0.5rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem; /*first is top bottom spacing, second is left right*/
    height: 100%;
    width: 110px;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: linear-gradient(to top, #b721ff 0%, #21d5fd 100%);
    color: #fff;
}

.button:hover {
    background: #4837ff;
    transition: all 0.3s ease;
}

.navbar__links:hover {
    color: #4837ff;
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5 s ease;
        height: 50vh;
        z-index: -1; /*-1 means you have to click on it to pop in front of screen*/
        background: #131313;
    }

    .navbar__menu.active {
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar__logo {
        padding-left: 25px;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3 ease-in-out;
        background: #fff;
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%,20%);
    }

    .navbar__btn {
        padding-bottom: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
    }
}

/* Hero Section CSS */

.main {
    background-color: #141414;
}

.main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh; /*90% of screen*/
    background-color: #141414;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.main__content p2,p3 {
  text-decoration: underline;
  -webkit-text-decoration-color: #4837ff; /* Safari */  
  text-decoration-color: #4837ff;
}

.main__content p{
    background-color: #ff8177;
    background-image: linear-gradient(to top, #aeaeae 0%, #ffffff 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__content h1{
    font-size: 60px;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #b721ff 0%, #21d4fd 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__content p {
    margin-top: 1rem;
    font-size: 2.1rem;
    font-weight: 700;
    color: #fff;
}

.main__btn {
    font-size: 1.3rem;
    background-image: linear-gradient(to top, #b721ff 0%, #21d4fd 100%);
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin-top: 2rem;
    cursor:pointer;
    position: relative;
    transition: all 0.35s;
    outline:none;
}

.main__btn a{
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}

.main__btn:after {
    position:absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #4837ff;
    transition: all 0.35s;
    border-radius: 4px;
}

.main__btn:hover {
    color:#fff;
}

.main__btn:hover:after{
    width:100%;
}

.main__img--container {
    text-align: center;
}

#main__img {
    height: 80%;
    width: 80%;
}

/*Services Section*/

.services {
    background: #141414;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 130vh;
}

.services p4,p5 {
    color: white;
}

.services p6{
    color: white;
    font-size: 23px;
}

.services h1 {
    background-color: #ff8177;
    background-image: linear-gradient(
        to right,
        #3a38d5 0%,
        #666dcb 0%,
        #4666c6 21%,
        #21d4fd 52%,
        #3c59a1 78%,
        #353f99 100%);
    background-size: 100%;
    margin-bottom: 1.8rem;
    font-size: 2.5rem;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.services__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.services__card {
    margin: 1rem;
    height: 525px;
    width: 400px;
    border-radius: 4px;
    background-image: linear-gradient(to bottom,
    rgba(0,0,0,0) 0%, rgba(17,17,17,0.6) 100%),
    url("/images/pic2.jpg"); /*linear gradient on a background to make images pop with their headers*/
    background-size: cover;
    position: relative; /*as text wants to be movable*/
    color:#fff
}

.services__card:nth-child(2) {
    background-image: linear-gradient(to bottom,
    rgba(0,0,0,0) 0%, rgba(17,17,17,0.6) 100%),
    url("/images/pic3.jpg"); /*linear gradient on a background to make images pop with their headers*/
}

.services h2 {
    position: absolute;
    top: 350px;
    left: 30px;
}

.services__card p {
    position: absolute;
    top:400px;
    left:30px;
}

.services__card button {
    color: #fff;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #b721ff;
    position: absolute;
    top: 440px;
    left: 30px;
    font-size: 1rem;
    cursor: pointer;
}

.services__card:hover {
    transform: scale(1.075);
    transition: 0.3s ease-in;
    cursor: pointer;
}

html {
    scroll-behavior: smooth;
}

.date {
    color: white;
}




.paper_main {
    background-color: #141414;
}
  
.paper_main_container {
    height: 505vh;
    background-color: #131313;
    text-align: center;

}

.paper_main2_container {
    height: 308vh;
    background-color: #131313;
    text-align: center;
}
  
.paper_main_content {
    color: #fff;
    width: 100%;
}

.paper_main_content h1 {
    font-size: 60px;
    background-color: #ff8177;
    background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.paper_main_content h3 {
    font-size: 30px;
    margin-top: 10px;
    background-color: #fff;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.paper_main_content p {
    font-size: 15px;
    margin-top: 10px;
    background-color: white;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.paper_main_content p:hover{
    background-color: #4837ff;
    transition: all .35s 
}
  
.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    color: white
}

.paper_img{
    height: 300px;
    width: 350px;
    margin: 20;
}

.paper_main_content h3 {
    text-decoration: underline;
    -webkit-text-decoration-color: #4837ff; /* Safari */  
    text-decoration-color: #4837ff;
  }